<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head> <!--pochodzi z fragmentu head.html-->

<body>


<p style="text-align: center; font-weight: bold">Dodaj nowe Wydawnictwo!</p>

<div class="container">

    <!-- zmiana--><div class="col-md-6">

    <form th:action="@{addpostpublisher}" method="post">
        <!--<form th:method="post" id="form-get">-->
        <label>Nazwa wydawnictwa</label>
        <input class="form-control" type="text" name="namePub" placeholder="Nazwa wydawnictwa">
        <label>Nazwisko autora</label>
        <input class="form-control" type="text" name="addressPub" placeholder="Adres - miejscowość">
        <button class="btn btn-success btn-sm" type="submit">Dodaj</button>
        <a href="/newBook"> <button class="btn btn-sm btn-default" type="button">Wróć</button></a>
        <br/>
        <!--<a class="btn-primary btn" href="/books">Lista książek</a>-->
    </form>
</div>
</div>

</body>
</html>


</body>

</html>